<?xml version="1.0" encoding="utf-8" ?>

<ProxyConfig mustMatch="true"
             
             allowedReferers="https://localhost:44349/airphoto/*,https://madgic.trentu.ca/airphoto/*,https://madgic.trentu.ca/airphoto_secure/*,https://madgic.trentu.ca/apv2_secure/*,https://madgic-trentu-ca.proxy1.lib.trentu.ca/airphoto/*,https://madgic-trentu-ca.proxy1.lib.trentu.ca/airphoto_secure/*"
             logFile="c:\logs\ap_proxy_log.txt" logLevel="Error"
			 xmlns="proxy.xsd">

  <serverUrls>
    <!-- serverUrl options:
            url = location of the ArcGIS Server, either specific URL or stem
            matchAll = true to forward any request beginning with the url
            token = (optional) token to include for secured service
            dynamicToken = if true, gets token dynamically with username and password stored in web.config file's appSettings section.              
    -->
    
    <!-- THESE ARE ACTIVE -->      
    <!-- our stuff -->
    <serverUrl url="https://madgic.trentu.ca/arcgis/rest/services/airphoto/" matchAll="true"></serverUrl>
    <serverUrl url="https://madgic.trentu.ca/arcgis/rest/services/apv2/" matchAll="true"></serverUrl>

    <serverUrl url="https://mercator.trentu.ca/arcgis/rest/services/tools/GetAirphoto2/" matchAll="true"></serverUrl>
    <serverUrl url="https://madgic.trentu.ca/arcgis/rest/services/tools/GetAirphoto2/" matchAll="true"></serverUrl>
    
    <serverUrl url="https://madgic.trentu.ca/arcgis/rest/services/tools/GetDownloadParameters/" matchAll="true"></serverUrl>
    
    <serverUrl url="https://madgic.trentu.ca/arcgis/rest/services/tools/GetDownloadID/" matchAll="true"></serverUrl>
   
	<serverUrl url="https://madgic.trentu.ca/resources/services/" matchAll="true"></serverUrl>

    <serverUrl url="https://madgic.trentu.ca/arcgis/rest/services/NAPLIndex/" matchAll="true"></serverUrl>

    <serverUrl url="https://madgic.trentu.ca/arcgis/rest/services/MNRIndex/" matchAll="true"></serverUrl>

    <serverUrl url="https://madgic.trentu.ca/arcgis/rest/info" matchAll="true"></serverUrl>

	<serverUrl url="https://madgic.trentu.ca/resources/services/getServiceDefinitions.ashx" 
		matchAll="true"
		username="ap_secure"
		password="*9o=5hJ4*!8L0sk"></serverUrl>

    <serverUrl url="https://madgic.trentu.ca/arcgis/rest/services/airphoto/" matchAll="true"></serverUrl>
    <serverUrl url="https://madgic.trentu.ca/arcgis/rest/services/airphoto_secure/"
		matchAll="true"
		username="ap_secure"
		password="*9o=5hJ4*!8L0sk"></serverUrl>

    <serverUrl url="https://madgic.trentu.ca/arcgis/rest/services/apv2/" matchAll="true"></serverUrl>
    <serverUrl url="https://madgic.trentu.ca/arcgis/rest/services/apv2_secure/"
		matchAll="true"
		username="ap_secure"
		password="*9o=5hJ4*!8L0sk"></serverUrl>
		
    <serverUrl url="https://madgic.trentu.ca/arcgis/rest/services/tools/GetAirphotoSecure/"
		matchAll="true"
		username="ap_secure"
		password="*9o=5hJ4*!8L0sk"></serverUrl>
    
    <serverUrl url="https://madgic.trentu.ca/arcgis/rest/info?f=json"  username="ap_secure"
		password="*9o=5hJ4*!8L0sk"
		tokenServiceUri="https://madgic.trentu.ca/arcgis/admin/generateToken"></serverUrl>
    
	<!--*NEW*-->
	<serverUrl url="http://madgic-trentu-ca.proxy1.lib.trentu.ca/arcgis/rest/services/"
		matchAll="true"
		username="ap_secure"
		password="*9o=5hJ4*!8L0sk"></serverUrl>

	<!--*NEW*-->
	<serverUrl url="http://madgic-trentu-ca.proxy1.lib.trentu.ca/resources/services/getServiceDefinitions.ashx"
		username="ap_secure"
		password="*9o=5hJ4*!8L0sk"
		tokenServiceUri="https://madgic.trentu.ca/arcgis/admin/generateToken"></serverUrl>

	<!--*NEW*-->
	<serverUrl url="http://madgic-trentu-ca.proxy1.lib.trentu.ca/arcgis/rest/info?f=json"  username="ap_secure"
		password="*9o=5hJ4*!8L0sk"
		tokenServiceUri="https://madgic.trentu.ca/arcgis/admin/generateToken"></serverUrl>-->
		
	</serverUrls>

</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
