
$header__height: 69px;

html,
body {
  position: fixed;
  overflow: hidden;
}

html, body, #root, .App {
  overflow: hidden;
  position: fixed;
  width: 100vw;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  background-color: #cfcfd4;
}

.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand>img {
  padding: 5px 15px 5px 5px;
}

/* Pop-up header works with these two */
header {
  text-align: center;
  background-color: #154734;
  color: white;
  box-sizing: border-box;
}
header:hover{
  color: #154734;
  background-color: #f8f9fa;
  transition: background-color 250ms ease-in-out;
}

.gradient-bg {
  background-image: -webkit-linear-gradient(left,#FEFEFE 50%,#154734);
}

.search {
  top: 15px;
}

/* Map view */
#mapContainer {
  height: calc(100% - #{$header__height});
}

.grecaptcha-badge { 
  visibility: hidden;
}

ol {
  list-style: none;
  display: flex;
  align-items: center;
}

.cookie-banner {
  position: fixed;
  bottom: 40px;
  left: 10%;
  right: 10%;
  width: 80%;
  padding: 5px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}
.close {
  height: 20px;
  background-color: rgb(46, 46, 46);
  border: none;
  color: white;
  border-radius: 2px;
  cursor: pointer;
}